.card{
	width: 20%;
	height: 10%;
	text-align: center;
	background-color: #222;
	font-size: 20px;
	outline: #00cc00 solid 5px;
	color: #00aa00;
}

.card-text{
	color: #007700;
	font-size: 15px;
}


.card-img-bottom{
	padding-top: 10px;
    padding-bottom: 15px;
	width: 40%;
	height: 40%;
	float: center;
}
