.Navbar {
    display: flex;
    list-style-type: none;
}

.active {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 16px;
  margin-top:0;
  margin-bottom: 0;
  border-bottom: 2px rgba(0, 0, 0, 0.8) solid;
  pointer-events: none;
}

a {
    text-decoration: none;
    color: black;
    margin-right: 15px;
    text-align: center;
}

a:hover{

}
