.night-sky {
  display: block;
  position: absolute;
  background: #303030;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

p{

  color: white;
}

.App-logo{
  position: relative;
  z-index: 9;
  width: 400px;
  height: 400px;
}

.star {
  width: 2px;
  height: 2px;
  background: #fff;
  -webkit-box-shadow: 0 0 3px #fff;
          box-shadow: 0 0 3px #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
}

.twinkle-star-1 {
  width: 2px;
  height: 2px;
  left: 29%;
  top: 82%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 2.8275862069s;
          animation-delay: 2.8275862069s;
}

.twinkle-star-2 {
  width: 2px;
  height: 2px;
  left: 92%;
  top: 65%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.7065217391s;
          animation-delay: 0.7065217391s;
}

.twinkle-star-3 {
  width: 2px;
  height: 2px;
  left: 75%;
  top: 62%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.8266666667s;
          animation-delay: 0.8266666667s;
}

.twinkle-star-4 {
  width: 2px;
  height: 2px;
  left: 56%;
  top: 4%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.0714285714s;
          animation-delay: 0.0714285714s;
}

.twinkle-star-5 {
  width: 2px;
  height: 2px;
  left: 71%;
  top: 16%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.2253521127s;
          animation-delay: 0.2253521127s;
}

.twinkle-star-6 {
  width: 3px;
  height: 3px;
  left: 24%;
  top: 29%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1.2083333333s;
          animation-delay: 1.2083333333s;
}

.twinkle-star-7 {
  width: 3px;
  height: 3px;
  left: 8%;
  top: 52%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 6.5s;
          animation-delay: 6.5s;
}

.twinkle-star-8 {
  width: 3px;
  height: 3px;
  left: 91%;
  top: 91%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.twinkle-star-9 {
  width: 3px;
  height: 3px;
  left: 21%;
  top: 38%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1.8095238095s;
          animation-delay: 1.8095238095s;
}

.twinkle-star-10 {
  width: 2px;
  height: 2px;
  left: 16%;
  top: 80%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.twinkle-star-11 {
  width: 2px;
  height: 2px;
  left: 67%;
  top: 100%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.4925373134s;
          animation-delay: 1.4925373134s;
}

.twinkle-star-12 {
  width: 3px;
  height: 3px;
  left: 14%;
  top: 94%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 6.7142857143s;
          animation-delay: 6.7142857143s;
}

.twinkle-star-13 {
  width: 2px;
  height: 2px;
  left: 97%;
  top: 53%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.5463917526s;
          animation-delay: 0.5463917526s;
}

.twinkle-star-14 {
  width: 2px;
  height: 2px;
  left: 39%;
  top: 30%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.7692307692s;
          animation-delay: 0.7692307692s;
}

.twinkle-star-15 {
  width: 2px;
  height: 2px;
  left: 36%;
  top: 11%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.3055555556s;
          animation-delay: 0.3055555556s;
}

.twinkle-star-16 {
  width: 3px;
  height: 3px;
  left: 97%;
  top: 74%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.7628865979s;
          animation-delay: 0.7628865979s;
}

.twinkle-star-17 {
  width: 2px;
  height: 2px;
  left: 32%;
  top: 29%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.90625s;
          animation-delay: 0.90625s;
}

.twinkle-star-18 {
  width: 2px;
  height: 2px;
  left: 8%;
  top: 19%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 2.375s;
          animation-delay: 2.375s;
}

.twinkle-star-19 {
  width: 3px;
  height: 3px;
  left: 20%;
  top: 60%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.twinkle-star-20 {
  width: 3px;
  height: 3px;
  left: 28%;
  top: 43%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1.5357142857s;
          animation-delay: 1.5357142857s;
}

.twinkle-star-21 {
  width: 2px;
  height: 2px;
  left: 34%;
  top: 1%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.0294117647s;
          animation-delay: 0.0294117647s;
}

.twinkle-star-22 {
  width: 2px;
  height: 2px;
  left: 36%;
  top: 93%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 2.5833333333s;
          animation-delay: 2.5833333333s;
}

.twinkle-star-23 {
  width: 2px;
  height: 2px;
  left: 75%;
  top: 25%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.3333333333s;
          animation-delay: 0.3333333333s;
}

.twinkle-star-24 {
  width: 2px;
  height: 2px;
  left: 49%;
  top: 33%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.6734693878s;
          animation-delay: 0.6734693878s;
}

.twinkle-star-25 {
  width: 3px;
  height: 3px;
  left: 47%;
  top: 30%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.6382978723s;
          animation-delay: 0.6382978723s;
}

.twinkle-star-26 {
  width: 2px;
  height: 2px;
  left: 24%;
  top: 62%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 2.5833333333s;
          animation-delay: 2.5833333333s;
}

.twinkle-star-27 {
  width: 2px;
  height: 2px;
  left: 50%;
  top: 69%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.38s;
          animation-delay: 1.38s;
}

.twinkle-star-28 {
  width: 2px;
  height: 2px;
  left: 7%;
  top: 92%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 13.1428571429s;
          animation-delay: 13.1428571429s;
}

.twinkle-star-29 {
  width: 3px;
  height: 3px;
  left: 13%;
  top: 98%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 7.5384615385s;
          animation-delay: 7.5384615385s;
}

.twinkle-star-30 {
  width: 2px;
  height: 2px;
  left: 93%;
  top: 31%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.3333333333s;
          animation-delay: 0.3333333333s;
}

.twinkle-star-31 {
  width: 2px;
  height: 2px;
  left: 58%;
  top: 68%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.1724137931s;
          animation-delay: 1.1724137931s;
}

.twinkle-star-32 {
  width: 2px;
  height: 2px;
  left: 72%;
  top: 65%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.9027777778s;
          animation-delay: 0.9027777778s;
}

.twinkle-star-33 {
  width: 2px;
  height: 2px;
  left: 36%;
  top: 10%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.2777777778s;
          animation-delay: 0.2777777778s;
}

.twinkle-star-34 {
  width: 2px;
  height: 2px;
  left: 1%;
  top: 37%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 37s;
          animation-delay: 37s;
}

.twinkle-star-35 {
  width: 2px;
  height: 2px;
  left: 1%;
  top: 72%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 72s;
          animation-delay: 72s;
}

.twinkle-star-36 {
  width: 3px;
  height: 3px;
  left: 6%;
  top: 25%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 4.1666666667s;
          animation-delay: 4.1666666667s;
}

.twinkle-star-37 {
  width: 2px;
  height: 2px;
  left: 20%;
  top: 67%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 3.35s;
          animation-delay: 3.35s;
}

.twinkle-star-38 {
  width: 3px;
  height: 3px;
  left: 10%;
  top: 84%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 8.4s;
          animation-delay: 8.4s;
}

.twinkle-star-39 {
  width: 3px;
  height: 3px;
  left: 58%;
  top: 22%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.3793103448s;
          animation-delay: 0.3793103448s;
}

.twinkle-star-40 {
  width: 3px;
  height: 3px;
  left: 89%;
  top: 18%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.202247191s;
          animation-delay: 0.202247191s;
}

.twinkle-star-41 {
  width: 3px;
  height: 3px;
  left: 11%;
  top: 59%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 5.3636363636s;
          animation-delay: 5.3636363636s;
}

.twinkle-star-42 {
  width: 3px;
  height: 3px;
  left: 18%;
  top: 38%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 2.1111111111s;
          animation-delay: 2.1111111111s;
}

.twinkle-star-43 {
  width: 2px;
  height: 2px;
  left: 47%;
  top: 84%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.7872340426s;
          animation-delay: 1.7872340426s;
}

.twinkle-star-44 {
  width: 3px;
  height: 3px;
  left: 27%;
  top: 13%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.4814814815s;
          animation-delay: 0.4814814815s;
}

.twinkle-star-45 {
  width: 3px;
  height: 3px;
  left: 15%;
  top: 53%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 3.5333333333s;
          animation-delay: 3.5333333333s;
}

.twinkle-star-46 {
  width: 3px;
  height: 3px;
  left: 42%;
  top: 69%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1.6428571429s;
          animation-delay: 1.6428571429s;
}

.twinkle-star-47 {
  width: 2px;
  height: 2px;
  left: 48%;
  top: 6%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.125s;
          animation-delay: 0.125s;
}

.twinkle-star-48 {
  width: 3px;
  height: 3px;
  left: 6%;
  top: 90%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.twinkle-star-49 {
  width: 2px;
  height: 2px;
  left: 59%;
  top: 29%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.4915254237s;
          animation-delay: 0.4915254237s;
}

.twinkle-star-50 {
  width: 2px;
  height: 2px;
  left: 74%;
  top: 23%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.3108108108s;
          animation-delay: 0.3108108108s;
}

.twinkle-star-51 {
  width: 2px;
  height: 2px;
  left: 72%;
  top: 85%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.1805555556s;
          animation-delay: 1.1805555556s;
}

.twinkle-star-52 {
  width: 2px;
  height: 2px;
  left: 85%;
  top: 31%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.3647058824s;
          animation-delay: 0.3647058824s;
}

.twinkle-star-53 {
  width: 3px;
  height: 3px;
  left: 15%;
  top: 54%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
}

.twinkle-star-54 {
  width: 3px;
  height: 3px;
  left: 93%;
  top: 6%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.064516129s;
          animation-delay: 0.064516129s;
}

.twinkle-star-55 {
  width: 3px;
  height: 3px;
  left: 3%;
  top: 87%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 29s;
          animation-delay: 29s;
}

.twinkle-star-56 {
  width: 3px;
  height: 3px;
  left: 17%;
  top: 32%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1.8823529412s;
          animation-delay: 1.8823529412s;
}

.twinkle-star-57 {
  width: 3px;
  height: 3px;
  left: 94%;
  top: 66%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.7021276596s;
          animation-delay: 0.7021276596s;
}

.twinkle-star-58 {
  width: 2px;
  height: 2px;
  left: 13%;
  top: 90%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 6.9230769231s;
          animation-delay: 6.9230769231s;
}

.twinkle-star-59 {
  width: 2px;
  height: 2px;
  left: 9%;
  top: 36%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.twinkle-star-60 {
  width: 2px;
  height: 2px;
  left: 49%;
  top: 53%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.0816326531s;
          animation-delay: 1.0816326531s;
}

.twinkle-star-61 {
  width: 2px;
  height: 2px;
  left: 12%;
  top: 55%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 4.5833333333s;
          animation-delay: 4.5833333333s;
}

.twinkle-star-62 {
  width: 3px;
  height: 3px;
  left: 78%;
  top: 52%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.6666666667s;
          animation-delay: 0.6666666667s;
}

.twinkle-star-63 {
  width: 2px;
  height: 2px;
  left: 94%;
  top: 16%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.170212766s;
          animation-delay: 0.170212766s;
}

.twinkle-star-64 {
  width: 3px;
  height: 3px;
  left: 76%;
  top: 14%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.1842105263s;
          animation-delay: 0.1842105263s;
}

.twinkle-star-65 {
  width: 3px;
  height: 3px;
  left: 88%;
  top: 69%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.7840909091s;
          animation-delay: 0.7840909091s;
}

.twinkle-star-66 {
  width: 2px;
  height: 2px;
  left: 61%;
  top: 55%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.9016393443s;
          animation-delay: 0.9016393443s;
}

.twinkle-star-67 {
  width: 2px;
  height: 2px;
  left: 99%;
  top: 78%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.7878787879s;
          animation-delay: 0.7878787879s;
}

.twinkle-star-68 {
  width: 3px;
  height: 3px;
  left: 93%;
  top: 51%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.5483870968s;
          animation-delay: 0.5483870968s;
}

.twinkle-star-69 {
  width: 3px;
  height: 3px;
  left: 88%;
  top: 13%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.1477272727s;
          animation-delay: 0.1477272727s;
}

.twinkle-star-70 {
  width: 2px;
  height: 2px;
  left: 14%;
  top: 57%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 4.0714285714s;
          animation-delay: 4.0714285714s;
}

.twinkle-star-71 {
  width: 3px;
  height: 3px;
  left: 95%;
  top: 72%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.7578947368s;
          animation-delay: 0.7578947368s;
}

.twinkle-star-72 {
  width: 3px;
  height: 3px;
  left: 84%;
  top: 66%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.7857142857s;
          animation-delay: 0.7857142857s;
}

.twinkle-star-73 {
  width: 2px;
  height: 2px;
  left: 35%;
  top: 1%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.0285714286s;
          animation-delay: 0.0285714286s;
}

.twinkle-star-74 {
  width: 3px;
  height: 3px;
  left: 73%;
  top: 30%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.4109589041s;
          animation-delay: 0.4109589041s;
}

.twinkle-star-75 {
  width: 3px;
  height: 3px;
  left: 81%;
  top: 77%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.950617284s;
          animation-delay: 0.950617284s;
}

.twinkle-star-76 {
  width: 3px;
  height: 3px;
  left: 88%;
  top: 35%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.3977272727s;
          animation-delay: 0.3977272727s;
}

.twinkle-star-77 {
  width: 3px;
  height: 3px;
  left: 52%;
  top: 93%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1.7884615385s;
          animation-delay: 1.7884615385s;
}

.twinkle-star-78 {
  width: 2px;
  height: 2px;
  left: 49%;
  top: 55%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.1224489796s;
          animation-delay: 1.1224489796s;
}

.twinkle-star-79 {
  width: 3px;
  height: 3px;
  left: 89%;
  top: 78%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.8764044944s;
          animation-delay: 0.8764044944s;
}

.twinkle-star-80 {
  width: 3px;
  height: 3px;
  left: 87%;
  top: 34%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.3908045977s;
          animation-delay: 0.3908045977s;
}

.twinkle-star-81 {
  width: 3px;
  height: 3px;
  left: 11%;
  top: 7%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.6363636364s;
          animation-delay: 0.6363636364s;
}

.twinkle-star-82 {
  width: 2px;
  height: 2px;
  left: 79%;
  top: 65%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.8227848101s;
          animation-delay: 0.8227848101s;
}

.twinkle-star-83 {
  width: 3px;
  height: 3px;
  left: 98%;
  top: 52%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.5306122449s;
          animation-delay: 0.5306122449s;
}

.twinkle-star-84 {
  width: 3px;
  height: 3px;
  left: 52%;
  top: 39%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.twinkle-star-85 {
  width: 2px;
  height: 2px;
  left: 64%;
  top: 38%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.59375s;
          animation-delay: 0.59375s;
}

.twinkle-star-86 {
  width: 3px;
  height: 3px;
  left: 77%;
  top: 25%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.3246753247s;
          animation-delay: 0.3246753247s;
}

.twinkle-star-87 {
  width: 3px;
  height: 3px;
  left: 17%;
  top: 73%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 4.2941176471s;
          animation-delay: 4.2941176471s;
}

.twinkle-star-88 {
  width: 3px;
  height: 3px;
  left: 78%;
  top: 69%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.8846153846s;
          animation-delay: 0.8846153846s;
}

.twinkle-star-89 {
  width: 2px;
  height: 2px;
  left: 17%;
  top: 78%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 4.5882352941s;
          animation-delay: 4.5882352941s;
}

.twinkle-star-90 {
  width: 3px;
  height: 3px;
  left: 54%;
  top: 81%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.twinkle-star-91 {
  width: 2px;
  height: 2px;
  left: 96%;
  top: 99%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.03125s;
          animation-delay: 1.03125s;
}

.twinkle-star-92 {
  width: 2px;
  height: 2px;
  left: 25%;
  top: 20%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.twinkle-star-93 {
  width: 2px;
  height: 2px;
  left: 91%;
  top: 59%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.6483516484s;
          animation-delay: 0.6483516484s;
}

.twinkle-star-94 {
  width: 3px;
  height: 3px;
  left: 40%;
  top: 77%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1.925s;
          animation-delay: 1.925s;
}

.twinkle-star-95 {
  width: 2px;
  height: 2px;
  left: 88%;
  top: 49%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.5568181818s;
          animation-delay: 0.5568181818s;
}

.twinkle-star-96 {
  width: 2px;
  height: 2px;
  left: 18%;
  top: 27%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.twinkle-star-97 {
  width: 3px;
  height: 3px;
  left: 10%;
  top: 54%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 5.4s;
          animation-delay: 5.4s;
}

.twinkle-star-98 {
  width: 3px;
  height: 3px;
  left: 60%;
  top: 21%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.twinkle-star-99 {
  width: 3px;
  height: 3px;
  left: 49%;
  top: 40%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.8163265306s;
          animation-delay: 0.8163265306s;
}

.twinkle-star-100 {
  width: 2px;
  height: 2px;
  left: 45%;
  top: 55%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.2222222222s;
          animation-delay: 1.2222222222s;
}

.twinkle-star-101 {
  width: 2px;
  height: 2px;
  left: 88%;
  top: 60%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.6818181818s;
          animation-delay: 0.6818181818s;
}

.twinkle-star-102 {
  width: 3px;
  height: 3px;
  left: 59%;
  top: 60%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1.0169491525s;
          animation-delay: 1.0169491525s;
}

.twinkle-star-103 {
  width: 2px;
  height: 2px;
  left: 16%;
  top: 14%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.875s;
          animation-delay: 0.875s;
}

.twinkle-star-104 {
  width: 3px;
  height: 3px;
  left: 77%;
  top: 61%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.7922077922s;
          animation-delay: 0.7922077922s;
}

.twinkle-star-105 {
  width: 3px;
  height: 3px;
  left: 50%;
  top: 71%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1.42s;
          animation-delay: 1.42s;
}

.twinkle-star-106 {
  width: 2px;
  height: 2px;
  left: 4%;
  top: 53%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 13.25s;
          animation-delay: 13.25s;
}

.twinkle-star-107 {
  width: 2px;
  height: 2px;
  left: 45%;
  top: 69%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.5333333333s;
          animation-delay: 1.5333333333s;
}

.twinkle-star-108 {
  width: 2px;
  height: 2px;
  left: 74%;
  top: 12%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.1621621622s;
          animation-delay: 0.1621621622s;
}

.twinkle-star-109 {
  width: 2px;
  height: 2px;
  left: 94%;
  top: 32%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.3404255319s;
          animation-delay: 0.3404255319s;
}

.twinkle-star-110 {
  width: 3px;
  height: 3px;
  left: 26%;
  top: 23%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.8846153846s;
          animation-delay: 0.8846153846s;
}

.twinkle-star-111 {
  width: 2px;
  height: 2px;
  left: 52%;
  top: 48%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.9230769231s;
          animation-delay: 0.9230769231s;
}

.twinkle-star-112 {
  width: 2px;
  height: 2px;
  left: 72%;
  top: 53%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.7361111111s;
          animation-delay: 0.7361111111s;
}

.twinkle-star-113 {
  width: 3px;
  height: 3px;
  left: 81%;
  top: 51%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.6296296296s;
          animation-delay: 0.6296296296s;
}

.twinkle-star-114 {
  width: 3px;
  height: 3px;
  left: 51%;
  top: 39%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.7647058824s;
          animation-delay: 0.7647058824s;
}

.twinkle-star-115 {
  width: 2px;
  height: 2px;
  left: 63%;
  top: 72%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.1428571429s;
          animation-delay: 1.1428571429s;
}

.twinkle-star-116 {
  width: 2px;
  height: 2px;
  left: 10%;
  top: 90%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.twinkle-star-117 {
  width: 2px;
  height: 2px;
  left: 30%;
  top: 70%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 2.3333333333s;
          animation-delay: 2.3333333333s;
}

.twinkle-star-118 {
  width: 3px;
  height: 3px;
  left: 50%;
  top: 83%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1.66s;
          animation-delay: 1.66s;
}

.twinkle-star-119 {
  width: 3px;
  height: 3px;
  left: 93%;
  top: 100%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1.0752688172s;
          animation-delay: 1.0752688172s;
}

.twinkle-star-120 {
  width: 3px;
  height: 3px;
  left: 80%;
  top: 63%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.7875s;
          animation-delay: 0.7875s;
}

.twinkle-star-121 {
  width: 2px;
  height: 2px;
  left: 69%;
  top: 85%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.231884058s;
          animation-delay: 1.231884058s;
}

.twinkle-star-122 {
  width: 3px;
  height: 3px;
  left: 95%;
  top: 73%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.7684210526s;
          animation-delay: 0.7684210526s;
}

.twinkle-star-123 {
  width: 3px;
  height: 3px;
  left: 93%;
  top: 17%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.1827956989s;
          animation-delay: 0.1827956989s;
}

.twinkle-star-124 {
  width: 3px;
  height: 3px;
  left: 33%;
  top: 45%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1.3636363636s;
          animation-delay: 1.3636363636s;
}

.twinkle-star-125 {
  width: 2px;
  height: 2px;
  left: 21%;
  top: 82%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 3.9047619048s;
          animation-delay: 3.9047619048s;
}

.twinkle-star-126 {
  width: 2px;
  height: 2px;
  left: 46%;
  top: 72%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.5652173913s;
          animation-delay: 1.5652173913s;
}

.twinkle-star-127 {
  width: 3px;
  height: 3px;
  left: 34%;
  top: 100%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 2.9411764706s;
          animation-delay: 2.9411764706s;
}

.twinkle-star-128 {
  width: 3px;
  height: 3px;
  left: 94%;
  top: 80%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.8510638298s;
          animation-delay: 0.8510638298s;
}

.twinkle-star-129 {
  width: 3px;
  height: 3px;
  left: 9%;
  top: 23%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 2.5555555556s;
          animation-delay: 2.5555555556s;
}

.twinkle-star-130 {
  width: 3px;
  height: 3px;
  left: 30%;
  top: 10%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.3333333333s;
          animation-delay: 0.3333333333s;
}

.twinkle-star-131 {
  width: 3px;
  height: 3px;
  left: 3%;
  top: 36%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

.twinkle-star-132 {
  width: 2px;
  height: 2px;
  left: 62%;
  top: 9%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.1451612903s;
          animation-delay: 0.1451612903s;
}

.twinkle-star-133 {
  width: 2px;
  height: 2px;
  left: 96%;
  top: 44%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.4583333333s;
          animation-delay: 0.4583333333s;
}

.twinkle-star-134 {
  width: 3px;
  height: 3px;
  left: 27%;
  top: 48%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1.7777777778s;
          animation-delay: 1.7777777778s;
}

.twinkle-star-135 {
  width: 3px;
  height: 3px;
  left: 20%;
  top: 63%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 3.15s;
          animation-delay: 3.15s;
}

.twinkle-star-136 {
  width: 3px;
  height: 3px;
  left: 56%;
  top: 38%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.6785714286s;
          animation-delay: 0.6785714286s;
}

.twinkle-star-137 {
  width: 3px;
  height: 3px;
  left: 76%;
  top: 52%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.6842105263s;
          animation-delay: 0.6842105263s;
}

.twinkle-star-138 {
  width: 3px;
  height: 3px;
  left: 18%;
  top: 69%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 3.8333333333s;
          animation-delay: 3.8333333333s;
}

.twinkle-star-139 {
  width: 2px;
  height: 2px;
  left: 69%;
  top: 71%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.0289855072s;
          animation-delay: 1.0289855072s;
}

.twinkle-star-140 {
  width: 2px;
  height: 2px;
  left: 48%;
  top: 34%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.7083333333s;
          animation-delay: 0.7083333333s;
}

.twinkle-star-141 {
  width: 2px;
  height: 2px;
  left: 91%;
  top: 55%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.6043956044s;
          animation-delay: 0.6043956044s;
}

.twinkle-star-142 {
  width: 2px;
  height: 2px;
  left: 2%;
  top: 85%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 42.5s;
          animation-delay: 42.5s;
}

.twinkle-star-143 {
  width: 2px;
  height: 2px;
  left: 84%;
  top: 37%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.4404761905s;
          animation-delay: 0.4404761905s;
}

.twinkle-star-144 {
  width: 3px;
  height: 3px;
  left: 51%;
  top: 80%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1.568627451s;
          animation-delay: 1.568627451s;
}

.twinkle-star-145 {
  width: 3px;
  height: 3px;
  left: 56%;
  top: 5%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.0892857143s;
          animation-delay: 0.0892857143s;
}

.twinkle-star-146 {
  width: 3px;
  height: 3px;
  left: 33%;
  top: 24%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.7272727273s;
          animation-delay: 0.7272727273s;
}

.twinkle-star-147 {
  width: 3px;
  height: 3px;
  left: 26%;
  top: 58%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 2.2307692308s;
          animation-delay: 2.2307692308s;
}

.twinkle-star-148 {
  width: 2px;
  height: 2px;
  left: 18%;
  top: 1%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.0555555556s;
          animation-delay: 0.0555555556s;
}

.twinkle-star-149 {
  width: 2px;
  height: 2px;
  left: 74%;
  top: 54%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.7297297297s;
          animation-delay: 0.7297297297s;
}

.twinkle-star-150 {
  width: 2px;
  height: 2px;
  left: 49%;
  top: 89%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.8163265306s;
          animation-delay: 1.8163265306s;
}

.twinkle-star-151 {
  width: 2px;
  height: 2px;
  left: 64%;
  top: 86%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.34375s;
          animation-delay: 1.34375s;
}

.twinkle-star-152 {
  width: 3px;
  height: 3px;
  left: 5%;
  top: 69%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 13.8s;
          animation-delay: 13.8s;
}

.twinkle-star-153 {
  width: 2px;
  height: 2px;
  left: 21%;
  top: 95%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 4.5238095238s;
          animation-delay: 4.5238095238s;
}

.twinkle-star-154 {
  width: 2px;
  height: 2px;
  left: 33%;
  top: 58%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.7575757576s;
          animation-delay: 1.7575757576s;
}

.twinkle-star-155 {
  width: 3px;
  height: 3px;
  left: 42%;
  top: 79%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1.880952381s;
          animation-delay: 1.880952381s;
}

.twinkle-star-156 {
  width: 3px;
  height: 3px;
  left: 70%;
  top: 74%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1.0571428571s;
          animation-delay: 1.0571428571s;
}

.twinkle-star-157 {
  width: 2px;
  height: 2px;
  left: 100%;
  top: 76%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.76s;
          animation-delay: 0.76s;
}

.twinkle-star-158 {
  width: 3px;
  height: 3px;
  left: 44%;
  top: 72%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1.6363636364s;
          animation-delay: 1.6363636364s;
}

.twinkle-star-159 {
  width: 2px;
  height: 2px;
  left: 99%;
  top: 50%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.5050505051s;
          animation-delay: 0.5050505051s;
}

.twinkle-star-160 {
  width: 2px;
  height: 2px;
  left: 36%;
  top: 63%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}

.twinkle-star-161 {
  width: 3px;
  height: 3px;
  left: 14%;
  top: 33%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 2.3571428571s;
          animation-delay: 2.3571428571s;
}

.twinkle-star-162 {
  width: 2px;
  height: 2px;
  left: 38%;
  top: 100%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 2.6315789474s;
          animation-delay: 2.6315789474s;
}

.twinkle-star-163 {
  width: 3px;
  height: 3px;
  left: 26%;
  top: 18%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.6923076923s;
          animation-delay: 0.6923076923s;
}

.twinkle-star-164 {
  width: 3px;
  height: 3px;
  left: 77%;
  top: 80%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1.038961039s;
          animation-delay: 1.038961039s;
}

.twinkle-star-165 {
  width: 2px;
  height: 2px;
  left: 99%;
  top: 66%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.6666666667s;
          animation-delay: 0.6666666667s;
}

.twinkle-star-166 {
  width: 3px;
  height: 3px;
  left: 19%;
  top: 43%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 2.2631578947s;
          animation-delay: 2.2631578947s;
}

.twinkle-star-167 {
  width: 2px;
  height: 2px;
  left: 56%;
  top: 59%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.0535714286s;
          animation-delay: 1.0535714286s;
}

.twinkle-star-168 {
  width: 3px;
  height: 3px;
  left: 46%;
  top: 94%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 2.0434782609s;
          animation-delay: 2.0434782609s;
}

.twinkle-star-169 {
  width: 3px;
  height: 3px;
  left: 70%;
  top: 52%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.7428571429s;
          animation-delay: 0.7428571429s;
}

.twinkle-star-170 {
  width: 3px;
  height: 3px;
  left: 30%;
  top: 61%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 2.0333333333s;
          animation-delay: 2.0333333333s;
}

.twinkle-star-171 {
  width: 3px;
  height: 3px;
  left: 79%;
  top: 39%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.4936708861s;
          animation-delay: 0.4936708861s;
}

.twinkle-star-172 {
  width: 2px;
  height: 2px;
  left: 71%;
  top: 71%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.twinkle-star-173 {
  width: 3px;
  height: 3px;
  left: 82%;
  top: 41%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.twinkle-star-174 {
  width: 2px;
  height: 2px;
  left: 43%;
  top: 84%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.9534883721s;
          animation-delay: 1.9534883721s;
}

.twinkle-star-175 {
  width: 2px;
  height: 2px;
  left: 35%;
  top: 2%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.0571428571s;
          animation-delay: 0.0571428571s;
}

.twinkle-star-176 {
  width: 3px;
  height: 3px;
  left: 70%;
  top: 51%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.7285714286s;
          animation-delay: 0.7285714286s;
}

.twinkle-star-177 {
  width: 3px;
  height: 3px;
  left: 31%;
  top: 92%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 2.9677419355s;
          animation-delay: 2.9677419355s;
}

.twinkle-star-178 {
  width: 3px;
  height: 3px;
  left: 11%;
  top: 20%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1.8181818182s;
          animation-delay: 1.8181818182s;
}

.twinkle-star-179 {
  width: 3px;
  height: 3px;
  left: 44%;
  top: 3%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.0681818182s;
          animation-delay: 0.0681818182s;
}

.twinkle-star-180 {
  width: 3px;
  height: 3px;
  left: 67%;
  top: 23%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.3432835821s;
          animation-delay: 0.3432835821s;
}

.twinkle-star-181 {
  width: 2px;
  height: 2px;
  left: 40%;
  top: 69%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.725s;
          animation-delay: 1.725s;
}

.twinkle-star-182 {
  width: 3px;
  height: 3px;
  left: 33%;
  top: 77%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 2.3333333333s;
          animation-delay: 2.3333333333s;
}

.twinkle-star-183 {
  width: 2px;
  height: 2px;
  left: 62%;
  top: 15%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.2419354839s;
          animation-delay: 0.2419354839s;
}

.twinkle-star-184 {
  width: 2px;
  height: 2px;
  left: 44%;
  top: 80%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.8181818182s;
          animation-delay: 1.8181818182s;
}

.twinkle-star-185 {
  width: 2px;
  height: 2px;
  left: 30%;
  top: 2%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.0666666667s;
          animation-delay: 0.0666666667s;
}

.twinkle-star-186 {
  width: 3px;
  height: 3px;
  left: 75%;
  top: 19%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.2533333333s;
          animation-delay: 0.2533333333s;
}

.twinkle-star-187 {
  width: 3px;
  height: 3px;
  left: 10%;
  top: 21%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.twinkle-star-188 {
  width: 2px;
  height: 2px;
  left: 62%;
  top: 39%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.6290322581s;
          animation-delay: 0.6290322581s;
}

.twinkle-star-189 {
  width: 3px;
  height: 3px;
  left: 28%;
  top: 46%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1.6428571429s;
          animation-delay: 1.6428571429s;
}

.twinkle-star-190 {
  width: 2px;
  height: 2px;
  left: 46%;
  top: 36%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.7826086957s;
          animation-delay: 0.7826086957s;
}

.twinkle-star-191 {
  width: 2px;
  height: 2px;
  left: 95%;
  top: 9%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.0947368421s;
          animation-delay: 0.0947368421s;
}

.twinkle-star-192 {
  width: 3px;
  height: 3px;
  left: 70%;
  top: 23%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.3285714286s;
          animation-delay: 0.3285714286s;
}

.twinkle-star-193 {
  width: 2px;
  height: 2px;
  left: 50%;
  top: 88%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.76s;
          animation-delay: 1.76s;
}

.twinkle-star-194 {
  width: 3px;
  height: 3px;
  left: 74%;
  top: 83%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1.1216216216s;
          animation-delay: 1.1216216216s;
}

.twinkle-star-195 {
  width: 3px;
  height: 3px;
  left: 92%;
  top: 54%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.5869565217s;
          animation-delay: 0.5869565217s;
}

.twinkle-star-196 {
  width: 3px;
  height: 3px;
  left: 33%;
  top: 57%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1.7272727273s;
          animation-delay: 1.7272727273s;
}

.twinkle-star-197 {
  width: 2px;
  height: 2px;
  left: 67%;
  top: 84%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.2537313433s;
          animation-delay: 1.2537313433s;
}

.twinkle-star-198 {
  width: 2px;
  height: 2px;
  left: 81%;
  top: 99%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.2222222222s;
          animation-delay: 1.2222222222s;
}

.twinkle-star-199 {
  width: 2px;
  height: 2px;
  left: 8%;
  top: 63%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 7.875s;
          animation-delay: 7.875s;
}

.twinkle-star-200 {
  width: 2px;
  height: 2px;
  left: 94%;
  top: 40%;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.4255319149s;
          animation-delay: 0.4255319149s;
}

@-webkit-keyframes twinkle {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes twinkle {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
